*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
!lib/*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# JetBrains Project #
*.iml
.idea/

# Data directory #
data
Results
Gene
Genome

# Updates directory #
updates/*.json

# Lib docs #
*.html

*.eml

# dossier de sauvegarde #
*.zip